In [3]:
import pandas as pd
import numpy as np
from numpy import log10

In [4]:
df = pd.read_csv("data_b1_p2.csv")
n = len(df)
df

    Data
0    7.0
1    6.0
2    5.9
3    9.4
4    6.5
5    7.3
6    7.6
7    9.3
8    5.8
9    7.2
10   7.1
11   8.3
12   7.5
13   6.8
14   7.1
15   9.2
16   6.1
17   8.5
18   7.4
19   7.8
20  10.2
21   9.4
22   8.8
23   8.3
24   7.9
25   9.2
26   8.9
27   9.0
28   8.7
29   8.5

In [5]:
sdf = df
sdf["Count"] = sdf.groupby("Data")['Data'].transform("count")
sdf = sdf.groupby(['Data']).head(1).sort_values(by=["Data"]).reset_index(drop=True)
sdf

    Data  Count
0    5.8      1
1    5.9      1
2    6.0      1
3    6.1      1
4    6.5      1
5    6.8      1
6    7.0      1
7    7.1      2
8    7.2      1
9    7.3      1
10   7.4      1
11   7.5      1
12   7.6      1
13   7.8      1
14   7.9      1
15   8.3      2
16   8.5      2
17   8.7      1
18   8.8      1
19   8.9      1
20   9.0      1
21   9.2      2
22   9.3      1
23   9.4      2
24  10.2      1

In [6]:
k = int(round(1 + 3.22*log10(n), 0))
r = round((max(sdf['Data']) - min(sdf['Data'])), 1)
h = round(r/k, 1)
print(n, k, r, h)

30 6 4.4 0.7

In [7]:
line_ndf = pd.Series(df['Data'].to_numpy().reshape(-1), index=df['Data'].to_numpy().reshape(-1))
line_ndf
cut_df = pd.cut(line_ndf, bins=k, right=False, retbins=True, precision=1)[0]
cut_df
freq_df = cut_df.groupby(cut_df, observed=True).count()
freq_df

[5.8, 6.5)     5
[6.5, 7.3)     5
[7.3, 8.0)     6
[8.0, 8.7)     5
[8.7, 9.5)     8
[9.5, 10.2)    1
dtype: int64

In [8]:
int_df = pd.DataFrame(index = freq_df.index)
int_df['Середина интервала'] = np.array([min(sdf['Data']) + h/2 + h*i for i in range(k)])
int_df['Частота'] = freq_df.values
int_df = int_df.assign(ПлотностьЧастоты = lambda row: (row['Частота']/h))
int_df = int_df.assign(ОтносительнаяЧастота = lambda row: (row['Частота']/n))
int_df = int_df.assign(ПлотностьОтносительнойЧастоты = lambda row: (row['ОтносительнаяЧастота']/h))
int_df

,Середина интервала,Частота,ПлотностьЧастоты,ОтносительнаяЧастота,ПлотностьОтносительнойЧастоты
"[5.8, 6.5)",6.15,5,7.142857,0.166667,0.238095
"[6.5, 7.3)",6.85,5,7.142857,0.166667,0.238095
"[7.3, 8.0)",7.55,6,8.571429,0.200000,0.285714
"[8.0, 8.7)",8.25,5,7.142857,0.166667,0.238095
"[8.7, 9.5)",8.95,8,11.428571,0.266667,0.380952
"[9.5, 10.2)",9.65,1,1.428571,0.033333,0.047619

In [9]:
int_df.sort_values(by=['Частота'], ascending=False).head(1)

,Середина интервала,Частота,ПлотностьЧастоты,ОтносительнаяЧастота,ПлотностьОтносительнойЧастоты
"[8.7, 9.5)",8.95,8,11.428571,0.266667,0.380952