In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data_b1_p3.csv")
df

     Data
0    99.2
1   101.2
2    99.3
3   105.0
4    97.3
5   103.2
6   105.4
7   108.2
8    95.4
9    96.8
10  100.5
11   90.3
12  110.0
13  111.5
14  150.5
15  140.3
16   89.8
17  103.6
18  115.8
19  125.4
20  116.5
21  130.4
22   90.6
23  130.4
24  170.4
25  109.2
26  160.3
27  122.4
28  190.3
29  202.0
30  130.0
31  119.6
32   99.9
33  119.4
34  127.0
35  130.0
36  140.0
37  129.0
38  150.0
39  168.0

# Часть1

In [3]:
k = 4
n = len(df)
r = max(df['Data']) - min(df['Data'])
h = r / k
print(n, k, r, h)

40 4 112.2 28.05

In [4]:
line_ndf = pd.Series(df['Data'].to_numpy().reshape(-1), index=df['Data'].to_numpy().reshape(-1))
line_ndf
cut_df = pd.cut(line_ndf, bins=k, right=False, retbins=True, precision=1)[0]
cut_df
freq_df = cut_df.groupby(cut_df, observed=True).count()
freq_df

[89.8, 117.8)     21
[117.8, 145.9)    12
[145.9, 174.0)     5
[174.0, 202.1)     2
dtype: int64

In [5]:
int_df = pd.DataFrame(index = freq_df.index)
int_df['Середина интервала'] = np.array([min(df['Data']) + h/2 + h*i for i in range(k)])
int_df['Частота'] = freq_df.values
int_df = int_df.assign(ПлотностьЧастоты = lambda row: (row['Частота']/h))
int_df = int_df.assign(ОтносительнаяЧастота = lambda row: (row['Частота']/n))
int_df = int_df.assign(ПлотностьОтносительнойЧастоты = lambda row: (row['ОтносительнаяЧастота']/h))
int_df

,Середина интервала,Частота,ПлотностьЧастоты,ОтносительнаяЧастота,ПлотностьОтносительнойЧастоты
"[89.8, 117.8)",103.825,21,0.748663,0.525,0.018717
"[117.8, 145.9)",131.875,12,0.427807,0.300,0.010695
"[145.9, 174.0)",159.925,5,0.178253,0.125,0.004456
"[174.0, 202.1)",187.975,2,0.071301,0.050,0.001783

# Часть2

In [6]:
check_df = df.assign(Status = lambda row: (row['Data'] < 100))
check_df = check_df.groupby('Status').count()
check_df

        Data
Status
False     31
True       9