In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("data_b1_p1.csv")
df

    Data
0      3
1      2
2      5
3      4
4      6
5      5
6      3
7      2
8      4
9      3
10     4
11     2
12     3
13     2
14     5
15     2
16     3
17     4
18     2
19     5
20     7
21     6

In [26]:
df["Количество"] = df.groupby("Data")['Data'].transform("count")
df = df.groupby(['Data']).head(1).sort_values(by=["Data"]).reset_index(drop=True)
df

   Data  Количество
0     2           6
1     3           5
2     4           4
3     5           4
4     6           2
5     7           1

In [27]:
df = df.assign(RelFreq=lambda x: (x['Data']/x['Количество']))
df

   Data  Количество   RelFreq
0     2           6  0.333333
1     3           5  0.600000
2     4           4  1.000000
3     5           4  1.250000
4     6           2  3.000000
5     7           1  7.000000