In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data_b2_p2.csv", index_col=0)
df

,Вид транспорта,Продолжительность маршрута,Время движения на маршруте,Средний пассажиропоток
Маршрут,,,,
77,Автобус,NaN,NaN,NaN
15,Автобус,NaN,NaN,NaN