In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_b3_p5.csv", index_col=0)
df

        Средняя ЗП  ФОТ
№ цеха
1             1100   20
2             1230   30
3             1150   10
4             1350   40

In [3]:
print(
    f"Средняя ЗП: {sum((df['Средняя ЗП'] * df['ФОТ']) / sum(df['ФОТ']))}") # Матожидание

Средняя ЗП: 1244.0