In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_b3_p1.csv", index_col=0)
df

            № бригады  Дневная выработка
№ рабочего
1                   1                 70
2                   1                 73
3                   1                 68
4                   1                 75
5                   1                 75
1                   2                 74
2                   2                 83
3                   2                 81
4                   2                100
5                   2                 73
6                   2                 80

In [3]:
brig1 = df.loc[(df['№ бригады'] == 1)]
brig1
brig2 = df.loc[(df['№ бригады'] == 2)]
brig2

            № бригады  Дневная выработка
№ рабочего
1                   2                 74
2                   2                 83
3                   2                 81
4                   2                100
5                   2                 73
6                   2                 80

In [4]:
mean_mass = [df['Дневная выработка'].mean(),
             brig1['Дневная выработка'].mean(),
             brig2['Дневная выработка'].mean()]
print(f"Бригада 1: {mean_mass[1]}", f"Бригада 2: {mean_mass[2]}", f"Общая средняя: {mean_mass[0]}", sep="\t")

Бригада 1: 72.2	Бригада 2: 81.83333333333333	Общая средняя: 77.45454545454545