In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_b3_p4.csv')
mid_int = [1900, 2100, 2300, 2500, 2700, 2900, 3100]
step = 200
df['Середина'] = mid_int
df

  Количество туристов  Число гостиниц  Середина
0           1800–2000             7.3      1900
1           2000–2200            10.4      2100
2           2200–2400            12.2      2300
3           2400–2600            25.5      2500
4           2600–2800            22.4      2700
5           2800-3000            14.6      2900
6           3000-3200             7.6      3100

In [3]:
middle_diff = df.loc[(df['Число гостиниц'] == max(df['Число гостиниц']))]['Середина'].values[0]
# middle_diff
df['Разница'] = df['Середина'] - middle_diff
df['Разница (s)'] = df['Разница'] / step  # Во имя упрощения отображения
df['Варианта (s)'] = df['Разница (s)'] * df['Число гостиниц']
df

,Количество туристов,Число гостиниц,Середина,Разница,Разница (s),Варианта (s)
0,1800–2000,7.3,1900,-600,-3.0,-21.9
1,2000–2200,10.4,2100,-400,-2.0,-20.8
2,2200–2400,12.2,2300,-200,-1.0,-12.2
3,2400–2600,25.5,2500,0,0.0,0.0
4,2600–2800,22.4,2700,200,1.0,22.4
5,2800-3000,14.6,2900,400,2.0,29.2
6,3000-3200,7.6,3100,600,3.0,22.8

In [4]:
mid_arithm = sum(df['Варианта (s)'] * step) / sum(df['Число гостиниц'])
selective_mean = mid_arithm + middle_diff
selective_mean

2539.0