In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_b3_p2.csv", index_col=0)
df

        Удельный вес мужчин (%)  Общее число рабочих (%)
№ цеха
1                          52.3                     31.6
2                          66.4                     25.8
3                          33.8                     42.6

In [3]:
print(
    f"Удельный вес в целом: {sum((df['Удельный вес мужчин (%)'] * df['Общее число рабочих (%)']) / sum(df['Общее число рабочих (%)']))}%") # Матожидание

Удельный вес в целом: 48.0568%