In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_b4_p2.csv")
df

   Количество станков  Число рабочих
0                   4             23
1                   5             36
2                   6             84
3                   7             42
4                   8             15

In [3]:
mod = df.loc[df['Число рабочих'] == max(df['Число рабочих'])]
mod_val = mod['Количество станков'].values[0]
mod_val

6

In [4]:

cdf = df.sort_values(by=['Число рабочих']).reset_index(drop=True)
cdf['Число рабочих'] = cdf['Число рабочих'].cumsum()
cdf

mid_index = ((cdf.loc[cdf['Количество станков'] == mod_val]['Число рабочих'] + 1) / 2).values[0]
mid_index

cdf = cdf.sort_values(by=['Число рабочих'], ascending=False)
cdf.loc[(cdf['Число рабочих'] >= mid_index)].sort_values(by=['Число рабочих'], ascending=True).head(1)['Количество станков'].values[0]

7