In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_b4_p1.csv", index_col=0)
df

                     Число студентов
Оценки
Отлично                            7
Хорошо                            18
Удовлетворительно                  6
Неудовлетворительно                2

In [3]:
mod = df.loc[df['Число студентов'] == max(df['Число студентов'])].index[0]
mod

'Хорошо'

In [4]:

cdf = df.sort_values(by=['Число студентов']).cumsum()

mid_index = (cdf.loc['Хорошо']['Число студентов'] + 1) / 2
mid_index

cdf = cdf.sort_values(by=['Число студентов'], ascending=False)
cdf.loc[(cdf['Число студентов'] >= mid_index)].sort_values(by=['Число студентов'], ascending=True).head(1).index[0]

'Хорошо'