In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_b4_p3.csv', index_col=0)
df

         Промышленность  Сфера услуг  Медицина
Возраст
25<                 9.0         14.1       5.1
25-35              34.9         29.7       7.9
35-45              35.6         26.3      11.5
45-50               8.1         12.8      27.7
50-55               7.3         10.5      24.6
55-60               4.0          4.5      15.4
>60                 1.1          2.1       7.8

In [3]:
freq_prom = df.loc[df['Промышленность'] == max(df['Промышленность'])].index[0]
freq_act = df.loc[df['Сфера услуг'] == max(df['Сфера услуг'])].index[0]
freq_med = df.loc[df['Медицина'] == max(df['Медицина'])].index[0]
print(freq_prom, freq_act, freq_med)

35-45 25-35 45-50

In [4]:
cdf = df.copy()
cdf.loc[:, ['Промышленность', 'Сфера услуг', 'Медицина']] = cdf.loc[:,
                                                            ['Промышленность', 'Сфера услуг', 'Медицина']].cumsum()
cdf

         Промышленность  Сфера услуг  Медицина
Возраст
25<                 9.0         14.1       5.1
25-35              43.9         43.8      13.0
35-45              79.5         70.1      24.5
45-50              87.6         82.9      52.2
50-55              94.9         93.4      76.8
55-60              98.9         97.9      92.2
>60               100.0        100.0     100.0

### Промышленность

In [5]:
mod_prom = 35 + ((35.6 - 34.9) / (35.6 - 34.9) + (35.6 - 8.1)) * 10
mod_prom

320.0

In [6]:
med_prom = 35 + (((100 / 2) + 43.9) / 35.6) * 10
med_prom

61.37640449438202

### Сфера услуг

In [7]:
mod_act = 25 + ((29.7 - 14.1) / ((29.7 - 14.1) + (29.7 - 26.3))) * 10
mod_act

33.21052631578947

In [8]:
med_act = 25 + (((100 / 2) + 14.1) / 29.7) * 10
med_act

46.582491582491585

### Медицина

In [9]:
mod_med = 45 + ((27.7 - 11.5) / ((27.7 - 11.5) + (27.7 - 24.6))) * 5
mod_med

49.196891191709845

In [10]:
med_med = 45 + (((100 / 2) + 24.5) / 27.7) * 5
med_med

58.44765342960289