In [1]:
import pandas as pd
from math import sqrt

In [2]:
df = pd.read_csv('data_b5_p2.csv', index_col=0)
mid_int = [50, 200, 400, 750, 2000, 4000]
df['Середина интервала'] = mid_int  
df

                    Число предприятий  Середина интервала
Группы предприятий
100<                               50                  50
100-300                            30                 200
300-500                            10                 400
500-1000                            6                 750
1000-3000                           3                2000
>3000                               1                4000

In [3]:
cdf = df.copy()
total_freq = sum(cdf['Число предприятий'])
cdf['Варианта (s)'] = cdf['Число предприятий'] * cdf['Середина интервала']
cdf

                    Число предприятий  Середина интервала  Варианта (s)
Группы предприятий
100<                               50                  50          2500
100-300                            30                 200          6000
300-500                            10                 400          4000
500-1000                            6                 750          4500
1000-3000                           3                2000          6000
>3000                               1                4000          4000

In [4]:
selective_mean = sum(cdf['Варианта (s)']) / total_freq
selective_mean

270.0

In [5]:
cdf['Разность (d)'] = round(cdf['Середина интервала'] - selective_mean, 1)
cdf['Частота (f)'] = abs(cdf['Разность (d)']) * cdf['Число предприятий']
cdf['Частота (2f)'] = (cdf['Разность (d)'] ** 2) * cdf['Число предприятий']
cdf = cdf.astype({'Частота (f)': 'int64'})
cdf

,Число предприятий,Середина интервала,Варианта (s),Разность (d),Частота (f),Частота (2f)
Группы предприятий,,,,,,
100<,50,50,2500,-220.0,11000,2420000.0
100-300,30,200,6000,-70.0,2100,147000.0
300-500,10,400,4000,130.0,1300,169000.0
500-1000,6,750,4500,480.0,2880,1382400.0
1000-3000,3,2000,6000,1730.0,5190,8978700.0
>3000,1,4000,4000,3730.0,3730,13912900.0

In [6]:
mid_lin_disp = sum(cdf['Частота (f)']) / total_freq
mid_lin_disp

262.0

In [7]:
disp = sum(cdf['Частота (2f)']) / total_freq
disp

270100.0

In [8]:
coef_var = sqrt(disp) / selective_mean * 100
coef_var

192.48572533609308