In [1]:
import pandas as pd
from math import sqrt

In [2]:
df = pd.read_csv('data_b5_p3.csv')
df

   Тип оборудования Коэффициент использования  Число единиц оборудования
0    Энергетическое                      0.6<                          1
1    Энергетическое                   0.6-0.7                         24
2    Энергетическое                   0.7-0.8                         20
3    Энергетическое                      >0.8                         12
4  Производственное                      0.8<                         15
5  Производственное                  0.8-0.85                         16
6  Производственное                  0.85-0.9                         18
7  Производственное                      >0.9                         15

In [3]:
en_df = df.loc[df['Тип оборудования'] == 'Энергетическое'].reset_index(drop=True)
mid_int = [0.3, 0.65, 0.75, 0.9]
en_df['Середина интервала'] = mid_int
en_df

,Тип оборудования,Коэффициент использования,Число единиц оборудования,Середина интервала
0,Энергетическое,0.6<,1,0.30
1,Энергетическое,0.6-0.7,24,0.65
2,Энергетическое,0.7-0.8,20,0.75
3,Энергетическое,>0.8,12,0.90

In [4]:
prom_df = df.loc[df['Тип оборудования'] == 'Производственное'].reset_index(drop=True)
mid_int = [0.4, 0.825, 0.875, 0.95]
prom_df['Середина интервала'] = mid_int
prom_df

,Тип оборудования,Коэффициент использования,Число единиц оборудования,Середина интервала
0,Производственное,0.8<,15,0.400
1,Производственное,0.8-0.85,16,0.825
2,Производственное,0.85-0.9,18,0.875
3,Производственное,>0.9,15,0.950

In [5]:
def get_coef(adf):
    cdf = adf.copy()
    total_freq = sum(cdf['Число единиц оборудования'])
    cdf['Варианта (s)'] = cdf['Число единиц оборудования'] * cdf['Середина интервала']

    selective_mean = sum(cdf['Варианта (s)']) / total_freq
    
    cdf['Разность (d)'] = round(cdf['Середина интервала'] - selective_mean, 1)
    cdf['Частота (f)'] = abs(cdf['Разность (d)']) * cdf['Число единиц оборудования']
    cdf['Частота (2f)'] = (cdf['Разность (d)'] ** 2) * cdf['Число единиц оборудования']

    disp = sum(cdf['Частота (2f)']) / total_freq
    coef_var = sqrt(disp) / selective_mean * 100
    return coef_var

In [6]:
get_coef(prom_df)

29.716531516255394

In [7]:
get_coef(en_df)

16.98410667590002